{% extends 'bitter_app/base.html' %}

{% block header %}
  {% if show_full_nav %}
    {{ block.super }}
  {% else %}
  	<header>
  		<span class="left-nav">
  			<a class="anchor" href="{% url 'bitter:index' %}">Home</a>
  			<a class="anchor" href="{% url 'bitter:about' %}">About</a>
  		</span>
  	</header>
  {% endif %}
{% endblock header %}

{% block content %}

<div class="about">
  Hi! This site is meant to be just a simple Twitter clone. It is limited in features, probably full of bugs, and may actually be downright annoying. That's ok. At least when you consider that this is just an exercise in programming by a noob. You can follow me on <a href="https://github.com/petarGitNik/">Github</a> or if you have anything to say, you can email me &commat;<a href="mailto:petargitnik@gmail.com">petargitnik@gmail.com</a>. You can also check out my personal blog, but it's kinda dead though: <a href="https://petargitnik.github.io/">Terminal Init</a>.
</div>

{% endblock content %}
