{% extends 'bitter_app/base.html' %}
{% load static %}

{% block content %}
<div class="avatar">
  <img id="user-avatar" src="{{ user.profile.avatar.url }}">

  <p id="bio">{{ user.profile.biography }}</p>
</div>

<div class="bitts">

  {% block new_bitt %}
    {% include 'bitter_app/new_bitt.html' %}
  {% endblock new_bitt %}

  <div class="list-of-bitts">

    <div class="individual-bitt">
      <img class="bitt-avatar" src="./images/person-human-male-man.jpg">
      <span class="name">Angry Man</span><span class="username"> @arrrgghhh </span><span class="time">17min</span>
      <p class=bitt-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare pharetra leo. Maecenas placerat semper felis et rutrum. Ut cursus nulla rhoncus tincidunt vulputate.</p>
    </div>

  </div>

</div>
{% endblock content %}
