{% extends 'bitter_app/base.html' %}
{% load static %}

{% block header %}
<style media="screen">
body { background-image: url("{% static 'bitter_app/images/pexels-photo-249203.jpeg' %}");}
</style>

	<header>
		<span class="left-nav">
			<a class="anchor" href="{% url 'bitter:index' %}">Home</a>
			<a class="anchor" href="{% url 'bitter:about' %}">About</a>
		</span>
	</header>
{% endblock header %}

{% block content %}


		<div id="intro">
			<h1>Welcome to Bitter!</h1>
			<p>A social network with an aftertaste.</p>
			<p>Bitter is a simple Twitter clone. You can leave a status, follow and unfollow people, and make changes to your profile.</p>
		</div>
		<div id="intro-forms">

			<form class="home-forms" id="login" action="{% url 'bitter:login' %}" method="post">
				{% csrf_token %}
        {% for field in log_in_form %}
          {{ field }}
        {% endfor %}
				<input class="index-submit" type="submit" value="Log in">
			</form>

			<form class="home-forms" id="signup" action="{% url 'bitter:signup' %}" method="post">
        {% csrf_token %}
				<h3>Please join us &lt;3</h3>
        {% for field in user_create_form %}
          {{ field }}
        {% endfor %}
				<input class="index-submit" type="submit" value="Sign up">
			</form>

		</div>

{% endblock content %}
